<div class="navbar-fixed">
  <nav class="nav-extended indigo darken-4">
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Football Center</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">&#8801;</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Welcome</a></li>
        <li><a href="#saved" class="saved">Saved</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#standing" class="nav-tab">Standing</a></li>
        <li class="tab"><a href="#match" class="nav-tab">Match</a></li>
        <li class="tab"><a href="#result" class="nav-tab">Result</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <div class="row mob-nav"></div>
  <li><a href="">Welcome</a></li>
  <li><a href="#standing" class="sidenav-link">Home</a></li>
  <li><a href="#saved" class="sidenav-link">Saved</a></li>
</ul>
